div
{
	border: 3px solid black;
	padding: 25px 50px;
	font-family: sans-serif;
	font-size: 390%; 
	float: left;
	width: 92%;	
}
button
{
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 30%;
	border-radius: 8px;
	padding: 25px 20px;
	float: right;
	width: 20%;
	margin: 5px;
}
.btn{background-color:orangered; color: black;}
.btn:hover {background-color: #0C090A; color: orangered;}
body {
	background-color: orangered;
}
.mm{
	border-radius: 10px;
	font-family: courier, Monaco, monospace;
	float: initial;
}
.m{
	border-radius: 10px;
	width: 46%;
	float: initial;
	font-family: courier, Monaco, monospace;
}

.s {
	border-radius: 10px;
	width: 100%;
	float: initial;
	font-family: courier, Monaco, monospace;
}
.n {
	height: 100%;
	margin: 20px;
	font-family: Arial;
	float: initial;
  }
.f{
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 40%;
	color: black;
}